.card {
    position: relative;
    list-style: none;
    border: 1px solid #ededed;
    border-radius: 8px;
    padding: 1rem 1.6rem 1rem 1.6rem;
    margin-bottom: 1rem;
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    cursor: pointer;
    transition: all .4s ease;
    h2 {
        font-size: 1.6rem;
        font-weight: 400;
        .hover {
            margin-left: 1px;
            display: none;
        }
    }
    .tag {
        background-color: #D7E5EE;
        color: gray;
        padding: 0.1rem 0.5rem;
        font-size: 1.4rem;
        border-radius: 4px;
    }
    a {
        color: gray;
        &::before{
            content: '';
            position: absolute;
            left: 0;
            right: 0;
            bottom: 0;
            top: 0;
            &:hover {
                border: 2px solid #000
            }
            &:focus {
                border-color: 2px solid #000
            }
        }
        
    }
    &:hover {
        background-color: #f5f5f7;
        .hover{
            display: inline;
        }
    }

}