.container {
  display: flex;
  position: relative;
  max-width: 1400px;
}
.nav {
  width: 20%;
  padding-top: 16rem;
  background-color: #eef1ff;
  position: fixed;
  z-index: 1;
  top: 0;
  bottom: 0;
}

.children {
  width: 80%;
  margin-left: 20%;
  padding: 4rem 16rem;
}
@media (max-width: 768px) {
  .nav {
    width: 100%;
    background-color: #eef1ff;
    position: fixed;
    bottom: 0;
    top: auto;
    padding-top: 0;
    overflow: hidden;
  }
  .children {
    width: 100%;
    margin-left: 0;
    padding: 3rem 2rem;
  }
}
@media (max-width: 912px) {
  .children {
    padding: 8rem 4rem;
  }
}
@media (min-width: 1460px) {
  .children {
    padding-left: 24rem;
    padding-right: 0;
    padding-top: 8rem;
  }
}

.upperSection {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 2rem 1rem;
}

@media (min-width: 768px) {
  .container {
  }
  .upperSection {
    padding: 2rem 0rem;
  }
}
@media (min-width: 1024px) {
  .container {
  }
}
