.container {
  padding: 3rem 3rem;
}
.upperSection {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 1rem;
}
.categoryWrapper {
  display: flex;
  justify-content: center;
}
.categoryWrapper > * {
  margin: 1.2rem 1rem 0 0;
}

@media (min-width: 768px) {
  .container {
    padding: 3rem 7rem;
  }
}
@media (min-width: 1024px) {
  .container {
    padding: 3rem 12rem;
  }
}
