.categoryWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media (max-width: 768px) {
  .categoryWrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 1rem 0 1rem 0;
  }
}
.categoryWrapper > * {
  margin: 1.2rem 1rem 0 0;
}
