.button {
  font: inherit;
  padding: 0.1rem 0.8rem;
  width: fit-content;
  border: none;
  text-align: center;
  color: #000;
  cursor: pointer;
  transition: all 120ms ease-in-out;
  &:active {
      transform: scale(0.99);
      box-shadow: none;
    }
    &:hover {
      color: #9f5e26;
    }
  
}
@media (min-width: 768px) {
  .button {
    padding: 0.5rem 2.4rem;
  }
}

