.articles {
  display: flex;
  flex-direction: column;
  margin: 3rem auto;
  width: 100%;
}
.articles > * {
  margin-bottom: 2rem;
}
.articledate {
  color: #9f5e26;
}
@media (min-width: 768px) {
  .articles {
    width: 100%;
  }
}
